# Synthesize data

{{ badge }}

In [6]:
import pandas as pd

df = pd.DataFrame([f"P{n}" for n in range(1000)])
df
# Continue from here

,Nanoclay Content (wt%),Tensile Strength (MPa),Flexural Strength (MPa),Impact Strength (kJ/m^2)
0,0.00000,70.000000,120.000000,0.500000
1,0.02004,70.068477,120.071104,0.500956
2,0.04008,70.137020,120.142251,0.501914
3,0.06012,70.205631,120.213439,0.502873
4,0.08016,70.274309,120.284670,0.503835
...,...,...,...,...
495,9.91984,113.577548,160.888298,1.287001
496,9.93988,113.688654,160.983630,1.289461
497,9.95992,113.799868,161.079019,1.291927
498,9.97996,113.911192,161.174464,1.294397
499,10.00000,114.022624,161.269966,1.296871

### Manual

- Create a pandas dataframe of 1000 polymers named P0 to P999
- Randomly generate tensile strength values for each polymer in the range of 50 to 200 MPa. Add to the data frame
- Randomly generate PDI and Mw values for each polymer. PDI range 1 to 2.5. Mw range 0 to 200000.  Add to the data frame

In [3]:
import pandas as pd

df = pd.DataFrame([f"P{n}" for n in range(1000)])
df
# Continue from here

        0
0      P0
1      P1
2      P2
3      P3
4      P4
..    ...
995  P995
996  P996
997  P997
998  P998
999  P999

[1000 rows x 1 columns]

### SDV



Use SDV  (`!pip install sdv`) to synthesize new data for the polymers tendency to crystallize dataset.

In [6]:
import pandas as pd

df = pd.read_json(
    "https://raw.githubusercontent.com/kuennethgroup/colab_tutorials/main/lecture2/data/polymers_tend_to_crystalize.json"
)
# ... and easy-peasy
df

,smiles,property,value,fingerprint
0,[*]C[*],Xc,47.80,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,[*]CC([*])C,Xc,44.47,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,[*]CC([*])CC,Xc,34.04,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,[*]CC([*])CCC,Xc,20.01,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,[*]CC([*])CC(C)C,Xc,21.64,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...
427,[*]C([*])(F)F,Xc,31.84,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
428,[*]C/C=C\C[*],Xc,25.58,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
429,[*]O[Si](C)(C)CCCC(=O)Oc1ccc(C=Nc2ccc(N=Cc3ccc...,Xc,29.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
430,[*]O[Si](C)(C)CCCC(=O)Oc1ccc(C=Nc2ccc(Cc3ccc(N...,Xc,21.74,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
431,[*]CCN(CCCCCCOc1ccc(C=Cc2ccc([N+](=O)[O-])cc2)...,Xc,7.55,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ..."

In [9]:
from sdv.metadata import MultiTableMetadata

metadata = MultiTableMetadata()
# Continue from here